# maven ignore
target/
*.jar
*.war
*.zip
*.tar

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
*.doc
def_template*.py
*.log
*.cache
*.diff
*.patch
*.tmp
fgy_run*.py
runTemplate.py
template/*.py
*/__pycache__
venv/

# system ignore
.DS_Store
Thumbs.db
__pycache__/
